@import '../../node_modules/codemirror/lib/codemirror.css';
@import '../../node_modules/codemirror/theme/cobalt.css';

$back-color: #001a2f;
$padding: 6px;

$upper-height: 60%;
$lower-height: calc(40% - 25px);

$normal-color: #ececec;
$error-color: #e20000;
$editor-error-color: rgba(255, 42, 0, 0.8);
$valid-color: #00e211;

body {
  margin: 0;
}

.split {
  column-count: 2;
  display: flex;
  & > div {
    flex-flow: column;
    width: 50%;
    height: 100%;
    padding: $padding;

    & > .CodeMirror {
      width: 100%;
      height: 100%;
    }
  }

}

.work-area {
  font-family: 'Source Code Pro', monospace;
  //font-size: 16px;
  color: $normal-color;

  margin: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background: $back-color;

  & > .upper {
    height: $upper-height;
  }

  & > .lower {
    padding: $padding;
    padding-top: 12px;
    height: $lower-height;

    & > .status {
      font-size: 18px;

      &.valid::before {
        content: '✓ Object is valid';
      }
      &.error::before {
        content: '✕ ';
      }
    }
  }
}

.valid {
  color: $valid-color
}

.error {
  color: $error-color;
}

.error-code {
  background: $editor-error-color;
}

.code-widget {
  animation: breath 2s;
  animation-iteration-count: infinite;

  transition: all 0.5s ease;
  z-index: 10;

  background: rgba(255, 0, 0, 0.8);

  width: 16px;
  height: 16px;
  min-height: 16px;
  min-width: 16px;
  max-width: 500px;

  transform: translate(-50%, -50%);
  font-size: 0;
  border-radius: 50%;
  color: rgba(255, 255, 255, 0);

  white-space: pre;

  & > span {
    color: $valid-color
  }

  &:hover {
    animation: none;

    z-index: 11;

    border-radius: 5px;
    background: rgba(20, 0, 10, 0.65);

    width: auto;
    height: auto;

    transform: translate(-16px, -16px);
    font-size: inherit;
    padding: 24px;

    color: $normal-color;
  }
}

@keyframes breath {
  0% {
    background: rgba(255, 0, 0, 0.8);
  }
  25% {
    background: rgb(130, 0, 0);
  }
  50% {
    background: rgba(255, 0, 0, 0.8);
  }
}